html 
    head 
        title Login 
    body 
    form(action="/login" method="POST")
        if(message)
            h3 #{message}
        div 
            label(for="id") Userid 
            input(name="id" required type="text") 
        br
        div 
            label(for="password") Password 
            input(name="password" required type="password") 
        br
        button(type="submit") Login